/* For Small devices  */
@media screen and (max-width: 576px) {
    .contact-bar,
    .nav-contents ul {
        display: none;
    }
    .work-with-us-contents,
    .achivement-contents, 
    .morefromus-contents {
        flex-direction: column;
    }
    .bar {
        display: block;
    }
    .hero-contents,
    .work-with-our-team .work-point {
        width: 100%;
    }
    .hero-contents h1 {
        font-size: 3rem;
    }
    .hero-contents p {
        font-size: 1.6rem;
        line-height: 2.6rem;
    }
    .service-contents {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 2rem;
    }
    .service-item {
        flex-basis: 48%;
    }
}

/* For Medium devices */
@media only screen and (min-width: 576px) and (max-width: 992px) {
    .contact-bar {
        display: none;
    }
    nav .nav-contents,
    .work-with-us-contents {
        flex-direction: column;
    }
    .hero-contents {
        width: 100%;
    }
    .hero-contents h1 {
        font-size: 4rem;
    }
    .hero-contents p {
        font-size: 2rem;
        line-height: 3rem;
    }
    .service-contents {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 2rem;
    }
    .service-item {
        flex-basis: 48%;
    }
    .morefromus-contents {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5rem;
    }
}