/* Reset style */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;600;700;800&display=swap');
* {
    margin: 0;padding: 0;box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-size: 62.5%;
    --bgClor-primary: #f5f5f5;
    --bgClor-secondary: #fff;
    --heading-primary: #000;
    --heading-secondary: #fff;
    --pClor: #333333;
    --btnBg: #ff5200;
    --btnText: #fff;
    --btnHover: #252525;
}
.container {
    width: 80%;
    max-width: 114rem;
    margin: 0 auto;
}
button {
    display: block;
    background: var(--btnBg);
    color: var(--btnText);
    font-size: 1.8rem;
    padding: 1rem 1.6rem;
    border: none;
    border-radius: .5rem;
    text-transform: uppercase;
    transition: .3s ease;
}
button:hover {
    background: var(--btnHover);
    cursor: pointer;
}

/* Contact bar */
.contact-bar {
    background: var(--bgClor-primary);
}
.contact-contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact-contents .phone {
    display: flex;
    font-size: 4rem;
    align-items: center;
}
.phone .call {
    margin-right: 2rem;
    border-left: .1rem solid #ccc;
    padding: 1rem;
}
.phone .mail {
    margin-right: 2rem;
    border-left: .1rem solid #ccc;
    padding: 1rem;
}
.phone i {
    color: var(--btnBg);
    margin-right: 1rem;
}
.social a {
    text-decoration: none;
    font-size: 3rem;
    color: var(--heading-primary);
    display: block;
    border-left: .1rem solid #ccc;
    padding: 1rem 2rem;
    transition: .3s ease;
}
.social a:hover {
    color: var(--btnBg);
}
.social {
    display: flex;
    align-items: center;
    justify-content: center;
}
.social a:last-child {
    border-right: .1rem solid #ccc;
}

/* Nav bar  */
nav {
    background: var(--bgClor-secondary);
}
nav .nav-contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}
.nav-contents ul {
    display: flex;
    list-style: none;
}
.nav-contents ul a {
    text-decoration: none;
    color: var(--heading-primary);
    display: block;
    padding: 10px;
    font-size: 1.6rem;
    font-weight: bold;
    transition: .3s ease;
}
.nav-contents ul a:hover {
    color: var(--btnBg);
}
.nav-contents ul a i {
    font-size: 1.8rem;
}

/* Hero Section  */
#hero {
    background: url('../images/slide-2.jpg');
    background-size: cover;
    background-position: center;
    padding: 10rem 0;
}
.hero-contents {
    width: 65%;
}
.hero-contents h1 {
    text-transform: uppercase;
    font-size: 5rem;
    color: var(--heading-secondary);
    font-weight: 700;
    margin-bottom: 2rem;
}
.hero-contents p {
    width: 65%;
    font-size: 2rem;
    color: var(--heading-secondary);
    line-height: 4rem;
    margin-bottom: 2rem;
}

/* Services section  */
#services {
    background: var(--bgClor-primary);
    padding: 8rem 0;
}
.service-contents {
    display: flex;
    justify-content: space-between;
}
.service-item {
    flex-basis: 24%;
    background: var(--bgClor-secondary);
    padding: 3rem;
    text-align: center;
    border-radius: .5rem;
    transition: .3s ease;
}
.service-item div i {
    font-size: 4rem;
    color: var(--btnBg);
    margin-bottom: 1rem;
}
.service-item h3 {
    font-size: 2rem;
    color: var(--btnHover);
    margin-bottom: 1rem;
}
.service-item p {
    font-size: 1.6rem;
    color: var(--pClor);
    line-height: 2.8rem;
    margin-bottom: 2rem;
}
.service-item a {
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--btnBg);
}
.service-item a i {
    font-size: 2rem;
    margin-left: 1rem;
}
.service-item:hover {
    background: var(--btnBg);
}
.service-item:hover i,
.service-item:hover h3, 
.service-item:hover p,
.service-item:hover a {
    color: white;
}